/* CSS Document */
.change{
	border: 2px solid black;
	background-color:beige;
	
	margin-bottom: 15px; /*çerçevenin altına 15px boşluk bırakır*/
	margin-top: 90px;
	margin-right: 50px;
	
	padding-bottom:15px; /*div içindeki yazının sınırlara olan mesafesi*/ /*div=division=bölüm*/
	padding-left: 25px;
	
}
#second{
	
	border: 10px solid blue;
	background-color: azure;
	margin: 50px; /*margin'leri alt alta yazmamak için top-bottom-r-l her yere 50px boşluk verir*/
	padding: 20px;
}

.link a{ /*tüm div classı içindeki a tag'ine ulaştık, link kullanmasaydık sayfadaki tüm a taglerinde uygulayacaktı.*/
	
	color: aqua;
	text-decoration: none; /*linkte altta çıkan oto. altyazıyı kaldırır, tüm decorationlar kalkar.*/
	
}

.link a:hover{
	
	color: blueviolet;
	text-decoration: underline;
}

.link a:active{ /*linke tıklanılan andaki tasarım.*/
	
	background-color: antiquewhite;
	color: chartreuse;
	text-decoration: none;
	}