/* CSS Document */
h3{
			
			color:#3E26C4;
			border:5px solid #000000;
			border-width: thick;
			background-color:#916061;
	        
			
		
			
		}	

p{

	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 15px;
	font-style: normal;
	font-weight: 200;
	


}